



/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #2C3930;
    --primary-2-color: #3F4F44;
    --accent-colour: #A27B5C;
    --accent-2-colour: #DCD7C9;
}

body {
    font-family:'sans-serif';
    color:var(--primary-color);
    font-size:16px;
}

@media(max-width: 42em){
    body{
        font-size:14px;
    }
}

.container-fuild{
    text-align: center;
    padding: 5%
}

h1{
   font-size: 1.96rem;
}

h2{
   font-size: 1.5rem;
}

/* Links */

#index{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--accent-colour);
}

.links{
    width: 25%;
    position: relative;
    color: var(--accent-2-colour);
    display: inline-block;
    background-color: var(--primary-color);
    text-decoration: none;
    transition: 1s;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}

.links:hover{
    background-color: var(--primary-2-color);
    color: var(--accent-2-colour);
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
}



/* Home image */

#home img{
    max-width: 85%;
    max-height: 85%;
    margin-top: 5%;
    border: 10px dashed var(--primary-2-color)
}

#home-image{
    transition: opacity 0.5s ease-in-out;
}

#home-image.hidden {
    opacity: 0;
}

#home .container-fuild{
    background-color:var(--accent-2-colour);
}

/* Change */

#change .container-fuild{
    background-color: var(--primary-2-color);
    color: var(--accent-2-colour);
    justify-content: space-between;
    max-width: 100%;
    text-align: center;
    padding: 5%;
}

/* About */

#About .container-fuild{
    background-color: var(--accent-2-colour);
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 10px
}

#About img {
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

@media(max-width: 42em) {
    #About img{
    height: 50%;
    max-width: 70%;
    }
}

#About .left, .right{
    flex: 1;
}

/* CV */

#CV .container-fuild{
    padding: 5%;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent-2-colour);
}

#CV .CV-btn{
    gap: 1rem;
    padding:2%;
    cursor: pointer;
    background-color: var(--primary-2-color);
    color: var(--accent-2-colour);
    border-radius: 50px;
}

/* Portfolio */


#Portfolio{
    background-color: var(--accent-2-colour);
    padding: 5%;
    text-align: center;
    gap: 10px;
}


.box{
    background-color: var(--primary-2-color);
    color: var(--accent-2-colour);
    text-align: center;
    padding:5%;
}



.grid-container {
    display: grid;
    justify-content: center;
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas:
    "box-1 box-4 box-5"
    "box-2 box-4 box-3";
}

@media(max-width: 56em){
    .grid-container{
        grid-template-areas:
        "box-1 box-2"
        "box-4 box-5"
        "box-4 box-3";
    }
}

@media(max-width: 42em){
    .grid-container{
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-4"
    "box-5 box-4"
    }

}

.box img{
    max-width: 100%;
    display: block;
}

/* Contact */

footer .container-fuild{
    background-color: var(--accent-colour);
    max-width: 100%;
    max-height: 100%;
}

/* Linkedin */
.linkedin_icon:hover svg {
    fill: #0077b5; 
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}

/* Github */
.github_icon:hover svg {
    fill: #DCD7C9; 
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
}

footer .address{   
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}


/* About Mobile */

@media (max-width:42em){
#About img{
    width: 100%;
}

#About .container-fuild{
    flex-direction: column;
}


}

